body{
    color:white;
}
.container{
    background-color: black;
    border-radius: 15px;
    width: 400px;
    height: 600px;
}
#todolist{
    color:aliceblue;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin-top: 10px;
}
.inner-container{
    width: 250px;
    height: 40px;
    background-color:aliceblue;
    position: relative;
    border-radius: 15px;
    display: block;
    justify-content: center;
}
#btn{
    background-color: blueviolet;
    border-radius: 15px;
    width:50px;
    height: 50px;
    position: absolute;
    right: -50px;
}
#button{
    
    background-color: blue;
    border-radius: 15px;
    width:50px;
    height: 50px;
    position: absolute;
    right: -100px;
}

ol{
    color:aliceblue;
    justify-content: space-between;
}
#task1{
    border: solid color(white);
}
#task2{
    border: solid color(white);}
#task3{
        border: solid color(white);}
